/*Ctrl + / for comment*/

/*
	Syntax for CSS
	seletor{
		property:value;
	}

*/

*{
	font-family: "Roboto", sans-serif;
}
h1, p{
	font-family: "Montserrat", sans-serif;
}

#profile{
	height:  250px;
	width: 250px;
	border-radius: 50%;
}

body{
background-color: #FF83A0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FF83A0' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f67c9c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ed7499' cx='50' cy='100' r='50'/%3E%3Cg fill='%23e46d95' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23db6692' cx='50' cy='200' r='50'/%3E%3Cg fill='%23d25f8e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c9588b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23c05187' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b64b84' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ad4480' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a43e7c' cx='50' cy='500' r='50'/%3E%3Cg fill='%239a3879' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23913275' cx='50' cy='600' r='50'/%3E%3Cg fill='%23872c71' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%237d266d' cx='50' cy='700' r='50'/%3E%3Cg fill='%23742069' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%236a1a65' cx='50' cy='800' r='50'/%3E%3Cg fill='%23611561' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23570f5d' cx='50' cy='900' r='50'/%3E%3Cg fill='%234d0a59' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23430555' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}

#landing{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}